.info {
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-right: 30px;
  color: #16557B;
  /* below: to give space between items */
  margin-inline-start: -20%;
}

.link:visited {
  color: #16557B;
}