.page-container {
  width: 100%;
}

.text-container {
  height: 80%;
  width: 50%;
  position: absolute;
  margin-left: 50%;
  background-color: #E5EDEF;
}

.header {
  margin: 50px 60px 30px 60px;
  font-size: 20px;
  font-weight: bold;
  color: #323B60;
  text-align: center;
}

.pink-line {
  background-color: #CFB8DF;
  width: 80%;
  height: 10px;
  border-radius: 25px;
  margin-left: 10%;
}

.text {
  justify-content: space-between;
  margin: 20px 50px 20px 50px;
  font-size: 14px;
  color: #323B60;
  text-align: justify;
}

.pink-dots {
  margin-top: 30%;
  margin-left: 1%;
}

.faces-buttons-container {
  height: 65%; /*dont change this */
  width: 40%; /*dont change this */
  position: absolute; /*dont change this */
  background-color: transparent; /*dont change this */
  margin: 35px 10px 0px 30px; /*dont change this */
  border: 2px solid black;
}

.josh-container {
  position: absolute;
  cursor: pointer;
  justify-content: space-evenly;
  background-color: #93c7bf;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #323B60;
  font-weight: bold;
}
.josh-photo {
  border-color: transparent;
  font-size: 14px;
  text-align: center;
  position: relative;
  height: 110px;
}

.luiz-photo {
  background-color: #CBE1E8;
  cursor: pointer;
}

.four-diamonds {
  align-self: center;
  height: 50px;
}

.juliana-photo {
  background-color: #CBE1E8;
  cursor: pointer;
}
.rachel-photo {
  background-color: #CBE1E8;
  cursor: pointer;
}

.face-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  /* padding: 0;
  margin: 0; */
  /* width: 100%;
  height: 100%; */
}

.footer-container {
  width: 100%;
  height: 10%;
  background-color: #93c7bf;
  position: fixed;
  bottom: 0;
}

.footer-text {
  background-color: #93c7bf;
  border: 0cm;
  margin-top: 25px;
  margin-left: 40%;
  font-size: 14px;
  font-weight: bold;
  color: #323B60;
  cursor: pointer;
}