.page-container {
  width: 100%;
}

.text-container {
  height: 80%;
  width: 50%;
  position: absolute;
  margin-left: 50%;
  background-color: #E5EDEF;
}

.header {
  margin: 50px 60px 30px 60px;
  font-size: 20px;
  font-weight: bold;
  color: #323B60;
  text-align: center;
}

.pink-line {
  background-color: #CFB8DF;
  width: 80%;
  height: 10px;
  border-radius: 25px;
  margin-left: 10%;
}

.text {
  justify-content: space-between;
  margin: 20px 50px 20px 50px;
  font-size: 14px;
  color: #323B60;
  text-align: justify;
}

.four-diamonds {
  z-index: 2;
  margin-left: 16%;
  margin-top: -28%;
}

.pink-dots {
  margin-top: 40%;
  margin-left: -2%;
}

.face-buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 80%;
  width: 50%;
  flex-direction: row;
  position: absolute;
  margin-left: 1%;
  margin-top: 1px;
  border: 2px solid black;
}

.face-buttons-box {
  display: flex;
  height: 50%;
  width: 50%;
  border: 2px solid blue;
}

.josh {
  width: 100%;
  height: 100%;
  background-color: #CBE1E8;
}

.face-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.footer-container {
  width: 100%;
  height: 10%;
  background-color: #93c7bf;
  position: fixed;
  bottom: 0;
}

.footer-text {
  background-color: #93c7bf;
  border: 0cm;
  margin-top: 25px;
  margin-left: 40%;
  font-size: 14px;
  font-weight: bold;
  color: #323B60;
  cursor: pointer;
}