.page-container {
  width: 100%;
}

.text-container {
  height: 80%;
  width: 50%;
  position: absolute;
  margin-left: 50%;
  background-color: #E5EDEF;
}

.header {
  margin: 50px 60px 30px 60px;
  font-size: 20px;
  font-weight: bold;
  color: #323B60;
  text-align: center;
}

.pink-line {
  background-color: #CFB8DF;
  width: 80%;
  height: 10px;
  border-radius: 25px;
  margin-left: 10%;
}

.text {
  justify-content: space-between;
  margin: 20px 50px 20px 50px;
  font-size: 14px;
  color: #323B60;
  text-align: justify;
}

.pink-dots {
  margin-top: 30%;
  margin-left: 1%;
}

.faces-buttons-container {
  height: 65%; /*dont change this */
  width: 25%; /*dont change this */
  position: absolute; /*dont change this */
  background-color: transparent; /*dont change this */
  margin: 20px 10px 0px 70px; /*dont change this */
  /* border: 2px solid black; */
}

.individual-container {
  position: relative;
  cursor: pointer;
  justify-content: space-evenly;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #323B60;
  font-weight: bold;
  padding: 5px;
}
.josh-photo {
  border-color: transparent;
  font-size: 14px;
  text-align: center;
  position: relative;
  height: 110px;
}

.juliana-photo {
  border-color: transparent;
  font-size: 14px;
  text-align: center;
  position: relative;
  height: 110px;
}
.luiz-photo {
  border-color: transparent;
  font-size: 14px;
  text-align: center;
  position: relative;
  height: 110px;
}

.rachel-photo {
  border-color: transparent;
  font-size: 14px;
  text-align: center;
  position: relative;
  height: 110px;
}

.four-diamonds {
  border-color: transparent;
  text-align: center;
  position: relative;
  height: 20px;
  margin-left: -20;
}

.footer-container {
  width: 100%;
  height: 10%;
  background-color: #93c7bf;
  position: fixed;
  bottom: 0;
}

.footer-text {
  background-color: #93c7bf;
  border: 0cm;
  margin-top: 25px;
  margin-left: 40%;
  font-size: 14px;
  font-weight: bold;
  color: #323B60;
  cursor: pointer;
}