.josh {
  width: 100%;
  height: 100%;
  background-color: #CBE1E8;
}

.face-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.face-buttons-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 10%;
  margin-top: 9%;
  border: 2px solid black;
}
